body {
    background-color: #f5f6f7;
    font-family: 'Encode Sans', sans-serif;
    border-top: 1px;
    width: 100vw;
    justify-content: center;
}

.all_things {
    display: flex;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    /*align-content: space-around;*/
    align-items: center;
}

.menu_cont {
    display: flex;
    flex-flow: column nowrap;
    background-color: #e7a2a2;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    background-color: #ff6a6a;
    justify-content: space-evenly;
}

.contents {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin-top: 10px;
}

#big_title {
    font-size: 52px;
    font-weight: bold;
    color: #c4160c;
}

#subtitle {
    font-size: 18px;
    color: #303134;
}

.mats {
    display: flex;
    align-items: baseline;
    border-left: 1px;
    border-left-color: #ebedef;
}

.mat_sec {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.mat_terc {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

img {
    border-radius: 12px;
    width: 240px;
    height: 128px;
}

.sub {
    font-weight: bold;
    font-size: 12px;
}

.verde {
    color: green;
}

.vermelho {
    color: red;
}

.amarelo {
    color: yellow;
}